p.lead {
  font-size: 1.4rem; /* Making the subtitle slightly larger */
}

.rounded {
  border-radius: 15px; /* Making the corners slightly more rounded */
}

.spotify-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #222;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  /* Add more styling as needed */
}

.assistant-container {
  position: fixed;
  bottom: 30px; /* Moved up by 70px, clearing the 60px high Spotify player */
  right: 15px;
  z-index: 1001; /* Make sure it's above other items */
}

