body {
  background-color: #1a1a1a;
  color: #eee;
}

.container {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form-label {
  color: #ddd;
  font-weight: bold;
}

.form-control {
  background-color: #3b3b3b;
  color: #ddd;
  border: none;
  border-radius: 5px;
}

.form-control:focus {
  background-color: #4d4d4d;
  color: #eee;
  border: none;
  box-shadow: 0 0 5px #61dafb;
}

.custom-btn {
  background-color: #61dafb;
  border-color: #61dafb;
  color: #1a1a1a;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.custom-btn:hover {
  background-color: #00a9e0;
  border-color: #00a9e0;
  transform: scale(1.05);
}

/* Adjust react-select dropdown styling to match the theme */
.react-select__control {
  background-color: #3b3b3b;
  border: none;
}

.react-select__menu {
  background-color: #282c34;
}

.react-select__option {
  color: #eee;
}

.react-select__option--is-focused {
  background-color: #3b3b3b;
}

.react-select__option--is-selected {
  background-color: #61dafb;
  color: #1a1a1a;
}
