/* Table styling */
.song-table {
    margin-top: 30px;
}

.song-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.song-table th,
.song-table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #f5f5f5;
}

.song-table th {
    background-color: #34495e; /* Header background color */
    color: #ffffff;
    font-weight: bold;
}

.song-table tbody tr:hover {
    background-color: #f5f5f5; /* Light background on hover */
}

.song-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
}
