html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fHLNwl {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #222;
    z-index: 1000;
    padding: 0px !important;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.spotify-player {
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
}

.track-info {
    display: flex;
    align-items: center;
}

.album-cover {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: gray;
    display: inline-block;
    border-radius: 6px;
}

.track-details .track-title, .track-details .track-artist {
    color: #fff;
    font-size: 15px;
    width: 120px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.like-icon {
    transition: color 0.3s;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controls button {
    background-color: transparent;
    border: none;
    color: #f8945b;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.controls input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

.controls button:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

.auth-controls {
    display: flex;
    justify-content: flex-end;
}

.auth-controls .spotify-login {
    cursor: pointer;
}

.auth-controls .spotify-login {
    z-index: 1001; 
}

.auth-controls .spotify-login {
    color: hsl(22, 92%, 66%);
    text-decoration: none;
    border: 1px solid #f8945b;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 12px;
}

.auth-controls .spotify-login:hover {
    background-color: #f8945b;
    color: #fff;
}
