/* App container */
.App {
    text-align: center;
    background-color: #eff0f3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    min-height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
}

/* Logo animation */
.App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}

/* Header styling */
.App-header {
    background-color: #1c1c1c;
    padding: 2rem 0;
    font-size: 2rem;
    color: #61dafb;
}

.navbar-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 182, 193, 0.2); /* Pink background */
    backdrop-filter: blur(5px); /* Blur the content behind the image */
    border-radius: 50%; /* Circular shape */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}


.navbar-icon2 {
    width: 50px;
    height: 100px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 182, 193, 0.2); /* Pink background */
    backdrop-filter: blur(5px); /* Blur the content behind the image */
    /* Removed the border-radius to make it a rectangle */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.navbar-icon3 {
    width: 65px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    background-color: rgba(255, 182, 193, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
    object-fit: contain; /* Ensures the image scales and crops to cover its content box */
}


.icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curved-text {
    position: relative;
    font-size: 12px; /* Adjust font size as needed */
    white-space: nowrap;
    transform: rotate(-10deg); /* Adjust the degree to get the curve you want */
    margin-top: 5px; /* Adjust the spacing between icon and text */
}

/* Container for the icon and the curved text */
.icon-text-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.text-path {
    fill: none;
    stroke: none;
}

/* Adjust the position of the SVG to move it upwards */
.icon-text-container svg {
    position: absolute;
    top: -30px; /* Adjust this value to move the text up or down */
    left: 0;
    z-index: 1;
}

/* Logo spin animation */
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
